<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/header.ejs') %>
  <h1>Hello World</h1>
  <h2>Oi</h2>
  <%- include('partials/footer.ejs') %>
  <script src="/js/main.js"></script>
</body>
</html>